spring:
  application:
    name: ms-books-payments
  datasource:
    url: jdbc:h2:mem:testdb;Mode=MySQL
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
server:
  port: 8088
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true
    hostname: ms-books-payments
catalogueService:
    url: http://localhost:8762/ms-books-catalogue/books/