spring:
  application:
    name: ms-books-catalogue
  datasource:
    url: jdbc:postgresql://localhost:5433/books_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
  sql:
    init:
      mode: always
server:
  port: 8089
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true
    hostname: ms-books-catalogue